<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Winc Hackathons">
    <meta name="author" content="Donatas Rasiukevičius">
    <title>Winc Hackathons</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <a href="/">
        <h1 class="main-title">WINC Hackathons</h1>
    </a>
    {% block content %} {% endblock %}

</body>

</html>