<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Winc Hackathons">
    <meta name="author" content="Donatas Rasiukevičius">
    <title>Winc Hackathons</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" href="https://static.wincacademy.nl/css/style.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="image/png" href="https://static.wincacademy.nl/logos/favicon.png">
</head>

<body>
    <div class="logo">
        <img src="https://static.wincacademy.nl/logos/main-logo.png">
    </div>
    <a href="/">
        <h1 class="main-title">Hackathons</h1>
    </a>
    {% block content %} {% endblock %}

</body>

</html>