{% extends "base.html" %}

{% block content %}

<section>
    <h3>Wat is een hackthon?</h3>
    <p>
        Een hackthon is een klein project dat je samen met een groepje andere mensen maakt in een kort
        tijdsbestek, meestal in een bepaald thema. Vanuit Winc gaan we periodiek zulke hackathons organizeren
        en je bent van harte welkom om mee te doen!
    </p>
</section>

<section>
    <h3>Overzicht Hackathons</h3>
    <table id="hacktable" class="display compact">
        <thead>
            <tr>
                <th>Naam</th>
                <th>Deadline aanmelding</th>
                <th>Datum Hackathon</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for page in section.pages %}
            <tr>
                <td><a class="capitalize" href="{{ page.permalink | safe }}">{{ page.title }} - meer info...</a></td>
                <td>{{ page.extra.signup_deadline }}</td>
                <td>{{ page.extra.event_date_start }} - {{ page.extra.event_date_end }}</td>
                <td>
                    <a href="{{ page.extra.signup_link }}">
                        <button>Aanmelden</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>


{% endblock content %}